<form action="#" method="post">
    <div class="header">
       <p>Envio de evento de calendario:</p>
    </div>
    <div class="description">
      <p>Al ingresar su correo se le enviara un evento de calendario con los datos asociados al evento anteriormente seleccionado a su correo</p>
    </div>
    <div class="input">
      <label for="correo"></label>
      <input id ="correo" name="correo" class="button" type="email" placeholder="NAME@EXAMPLE.COM">
      <button type="submit" class="button" id="submit">Enviar</button>
    </div>
</form>